button {
    padding: .75rem 1rem;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2rem;

    border: .1rem solid transparent;
    border-radius: .2rem;
    cursor: pointer;
}
button:focus {
    outline-offset: .3rem;
}

button.button-weak {
    padding: .25rem;
    margin: .5rem .75rem;
    text-decoration: underline;
    background-color: transparent;
}

button.button-default {
    border: .1rem solid #666666;
    box-shadow: .1rem .1rem .1rem #999999;
    background-color: #fafafa;
    background: linear-gradient(0deg, #CCCCCC, transparent) 0 1.5rem no-repeat;
}
button.button-default:hover,
button.button-default.button-hover {
    border-color: #666666;
    box-shadow: .1rem .1rem .2rem #333333;
    background: linear-gradient(0deg, transparent, #CCCCCC) 0 0 no-repeat;
}
button.button-default:active,
button.button-default.button-active {
    background: #CCCCCC;
    box-shadow: inset 0 0 .3rem #666666;
    outline-offset: .3rem;
}
