/* Spacing */

.container {
    margin: 0 6rem;
}
.spacer {
    width: 100%;
    height: 6rem;
}
.spacer-small {
    width: 100%;
    height: 3rem;
}

@media (min-width: 360px) {
    .spacer {
        height: 9rem;
    }
    .spacer-small {
        height: 4.5rem;
    }
}

@media (min-width: 720px) {
    .container {
        margin: 0 auto;
        padding: 0 9rem;
        max-width: 720px;
    }
}

/* Header */

.design-system header h1 {
    margin-bottom: 2.1rem;
}

.design-system header ul {
    list-style: none;
    border-left: .1rem dashed #D94545;
    padding-left: .9rem;
    margin: 0;
}

/* Sections */

.design-system section h2 {
    margin-bottom: 1.8rem;
}

.design-system section .component,
.design-system section .animation {
    margin-bottom: 1.2rem;
}

.design-system section .component label {
    color: #666666;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 1;
}

.design-system section .component.component-color {
    display: block;
    float: left;
    margin-right: 2rem;
}

.design-system section .component.component-color .color-square {
    width: 9rem;
    height: 9rem;
    border: .05rem dotted #111111;
}
.design-system section .component.component-color.background .color-square {
    background-color: #FAFAFA;
}
.design-system section .component.component-color.text-1 .color-square {
    background-color: #333333;
}
.design-system section .component.component-color.text-2 .color-square {
    background-color: #666666;
}
.design-system section .component.component-color.accent-1 .color-square {
    background-color: #FF5252;
}
.design-system section .component.component-color.darker-accent-1 .color-square {
    background-color: #D94545;
}
.design-system section .component.component-color.accent-2 .color-square {
    background-color: #0E48AB;
}

.design-system section .animation p.animation-label {
    margin-left: 1rem;
}

.design-system section .animation div.animation-demo {
    float: left;

    border: .1rem dotted #111111;
    padding: 1rem;
}

.design-system section .animation div.animation-demo div.animation-description {
    float: left;

    margin-right: 2rem;
}

.design-system section .animation div.animation-demo div.animation-description p {
    margin-bottom: 2rem;
    line-height: 1.1;
}

.design-system section .animation div.animation-demo div.animation-sandbox {
    float: left;
}

#animation-example-1 {
    opacity: 0;
}

#animation-example-1.fade-in {
    opacity: 1;
}

/* Utilities */

.clear-left {
    clear: left;
}
