.note-list,
.note-list-content,
.note-list-actions {
    margin-bottom: 1.2rem;
}

.note-list-title,
.note-list-actions-load-more {
    margin-bottom: 1rem;
}

.note-list-content.note-list-content-empty {
    height: 4.5rem;
    padding: 1.5rem 0;

    background: #CCCCCC;
    background: rgba(0, 0, 0, .1);
    border-radius: .2rem;
}

.note-list-actions {
    opacity: 1;
    height: 5rem;

    transition: height 1000ms ease-out;
    transition: opacity 500ms ease-out;
}

.note-list-content-empty p,
.note-list-actions {
    text-align: center;
}

.note-list-actions-hidden {
    opacity: 0;
    height: 0;
}

.note-list-actions-load-error {
    color: #695300;
    font-size: .8rem;
}
