.version-info {
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: .1rem solid #FF5252;
}

.version-info-title {
    padding: .5rem 1rem;
    text-align: center;
    text-transform: uppercase;
}

.version-info-subtitle {
    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: .8rem;
    background: #FF5252;
    color: #FAFAFA;
}

.version-info-description {
    display: none;
}

@media (min-width: 1200px) {
    .version-info-description {
        display: block;

        padding: 1rem;
        text-align: justify;
    }
    
    .version-info-description p {
        margin-bottom: .5rem;
    }
}