.design-system header {
    margin-bottom: 3rem;
}

.design-system header p {
    margin-bottom: 2.1rem;
    color: #666666;
}

.design-system header ul {
    list-style: none;
    border-left: .1rem dashed #D94545;
    padding-left: .9rem;
    margin: 0;
}
