.design-system .container {
    margin: 0 6rem;
}
.design-system .spacer {
    width: 100%;
    height: 6rem;
}
.design-system .spacer-small {
    width: 100%;
    height: 3rem;
}

@media (min-width: 360px) {
    .design-system .spacer {
        height: 9rem;
    }
    .design-system .spacer-small {
        height: 4.5rem;
    }
}

@media (min-width: 720px) {
    .design-system .container {
        margin: 0 auto;
        padding: 0 9rem;
        max-width: 720px;
    }
}
