.design-system section {
    margin-bottom: 3rem;
}

.design-system .container > h2 {
    text-transform: uppercase;
}

.design-system section > h3 {
    margin-bottom: 2rem;

    border-bottom: .05rem dashed #666666;
}

.design-system section .component,
.design-system section .animation {
    margin-bottom: 3rem;
}

.design-system section .component .component-label,
.design-system section .component .component-notes p {
    color: #666666;
    font-size: .8rem;
}
.design-system section .component .component-label {
    text-transform: uppercase;
    margin-right: 1rem;
    line-height: 1;
}

.design-system section .component .component-notes {
    padding: 2rem 0;
}
.design-system section .component .component-notes p {
    line-height: 1.2;
}


.design-system section .component-state,
.design-system section .component-title {
    margin-bottom: 1rem;
}

.design-system-button {
    background-color: #FF5252;
    color: #FAFAFA;
    margin: 0 1rem 1rem 0;
}
.design-system-button:disabled {
    background-color: #CCCCCC;
    color: #333333;
    cursor: not-allowed;
}

.design-system section .section-back-to-top-link {
    display: block;
    
    border: .1rem dashed;
    border-radius: .3rem;

    text-align: center;
}
