.design-system section {
    margin-bottom: 3rem;
}

.design-system section > h2 {
    color: #B33939;
    margin-bottom: 1.8rem;
}

.design-system section .component,
.design-system section .animation {
    margin-bottom: 3rem;
}

.design-system section .component > label,
.design-system section .component-state > label,
.design-system section .animation > label,
.design-system section .component.component-resolution label {
    color: #666666;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 1;
}

.design-system section .component-state,
.design-system section .component-title {
    margin-bottom: 1rem;
}

.design-system-button {
    background-color: #FF5252;
    color: #FAFAFA;
    margin: 0 1rem 1rem 0;
}
.design-system-button:disabled {
    background-color: #CCCCCC;
    color: #333333;
    cursor: not-allowed;
}
