.design-system section .animation p.animation-label {
    margin-left: 1rem;
}

.design-system section .animation div.animation-demo {
    float: left;

    border: .1rem dotted #111111;
    padding: 1rem;
}

.design-system section .animation div.animation-demo div.animation-description {
    float: left;

    margin-right: 2rem;
}

.design-system section .animation div.animation-demo div.animation-description p {
    margin-bottom: 2rem;
    line-height: 1.1;
}

.design-system section .animation div.animation-demo div.animation-sandbox {
    float: left;
}

#animation-example-1 {
    visibility: hidden;
}

#animation-example-1.play {
    visibility: visible;
    opacity: 0;
}
