.design-system section .animation div.animation-demo {
    display: block;
}

.design-system section .animation div.animation-demo div.animation-description {
    display: inline-block;
    margin-right: 3rem;
    width: 12rem;
}

.design-system section .animation div.animation-demo div.animation-description p {
    margin-bottom: 2rem;
    line-height: 1.1;
}

.design-system section .animation div.animation-demo div.animation-sandbox {
    display: inline-block;
    vertical-align: top;

    border: 1px dotted #111111;
}

#animation-example-1 {
    visibility: hidden;
}

#animation-example-1.play {
    visibility: visible;
    opacity: 0;
}

.design-system section .animation .example-list {
    border: 1px dotted #111111;
    padding: .3rem;
    width: 20rem;
}
.design-system section .animation .example-list-item {
    border: 1px dotted #111111;
    padding: 1rem .5rem;
    width: 100%;
    height: 4rem;
}
